<div class="message-item <%= 'right' if message.user.first_name == 'Basia' %>">
  <% if message.user.first_name == "Basia" %>
    <!-- Display Basia Message on the Right with Avatar on the Right -->
    <div class="message-content">
      <span class="timestamp"><%= message.created_at.strftime('%a %b %-d at %l:%M %p') %></span>
      <p class="message-text"><%= message.text %></p>
    </div>
    <%= image_tag("https://res.cloudinary.com/djkohlole/image/upload/v1725412452/basia_qsrght.png", class: "avatar", alt: "Basia Avatar") %>
  <% elsif message.user.first_name == "Marie" %>
    <!-- Display Clinician Message on the Left with Avatar on the Left -->
    <%= image_tag("https://res.cloudinary.com/djkohlole/image/upload/v1725403884/marie_vzvgyh.jpg", class: "avatar", alt: "Marie Avatar") %>
    <div class="message-content">
      <span class="timestamp"><%= message.created_at.strftime('%a %b %-d at %l:%M %p') %></span>
      <p class="message-text"><%= message.text %></p>
    </div>
  <% end %>
</div>
