<div class="welcome-card">
  <div class="background-image">
 <%= image_tag 'homebanner.png', alt: 'background image' %>
  </div>

  <div class="welcome-content">
    <div class="welcome-text">
      <p style="font-size: 20px;">Good afternoon</p>
      <div class="homepage-name">
      <h2>Basia Brzeziecka</h2>
      </div>
      <p style="font-size: 13px;">NHS Number: 263829102</p>
    </div>
    <div class="profile-image">
      <%= image_tag 'basia.png' %>
    </div>
  </div>
</div>



<div class="welcomequestion">
  <h4>How can we help you today?</h4>
</div>

<div class="bookbutton-container">
  <a class="btn-bookappointment" href="/appointments/new" data-turbo="false">Book an Appointment</a>
</div>

<!-- Card with dropdown -->
<div class="container mt-5">

  <%# <div class="exploreheader">
    <h5>Explore</h5>
  </div> %>

  <div class="card news-feed-card mb-3" id="newsCard1">

    <!-- Bootstrap Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/Dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <!-- The Slideshow/Carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag 'covid.jpg', alt: 'covid', class: 'd-block w-100' %>
          <div class="carousel-caption">
            <h1>Getting a COVID-19 vaccine</h1>
          </div>
        </div>

        <div class="carousel-item">
          <%= image_tag 'hayfever.png', alt: 'hayfever', class: 'd-block w-100' %>
          <div class="carousel-caption">
            <h1>Top 5 hay fever remedies</h1>
          </div>
        </div>

        <div class="carousel-item">
          <%= image_tag 'mpox.jpg', alt: 'mpox', class: 'd-block w-100' %>
          <div class="carousel-caption">
            <h1>NHS guidance on mpox (monkeypox)</h1>
          </div>
        </div>
      </div>

      <!-- Left and Right Controls/Icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
