<div class="">
  <div class="appointment-body">
    <div class="text-center mb-4">
      <h1 style='font-size: 30px;'>Appointments</h1>
    </div>

    <!-- Dropdown to filter appointments by status -->
    <div class="text-center mb-4">
      <%= form_with url: appointments_path, method: :get, local: true, id: 'status-filter-form', class: 'form-inline' do %>
        <%= select_tag :status, options_for_select([['All', ''], ['Pending', 'Pending'], ['Accepted', 'Accepted'], ['Closed', 'Closed']], params[:status]), class: 'form-control mr-sm-2', onchange: 'this.form.submit();' %>
      <% end %>
    </div>

    <div class="row">
      <% @appointments.each do |appointment| %>
        <div class="col-md-6 mb-5" style="margin-top: -10px; ">
          <div class="card-for-content">
            <div class="appointment-card-body">
              <%= link_to appointment_path(appointment), class: 'text-decoration-none text-dark' do %>
               <h2 class="card-title lobster-regular mb-3">
                   <strong>
                      <%= appointment.appointment_date.strftime('%A') %><br>
                      <%= appointment.appointment_date.strftime('%B %e, %Y') %>
                    </strong>
                </h2>
              <% end %>

              <% if current_user.clinician? %>
                <p class="card-text severity <%= 'severity-high' if appointment.severity == 'High' %> <%= 'severity-low' if appointment.severity == 'Low' %> roboto">
                  Severity: <%= appointment.severity %>
                </p>
              <% end %>

              <!-- Display Symptom Categories -->
              <% if appointment.symptoms.any? %>
                <% appointment.symptoms.each do |symptom| %>
                  <div class="d-flex align-items-center mb-2">
                    <%= image_tag 'Dateapp.png', style: 'width: 30px; height: 30px; margin-right: 8px;' %>
                    Category: <%= symptom.category %>
                  </div>
                <% end %>
              <% end %>

              <div class="d-flex align-items-center mb-2">
                <%= image_tag 'Timeapp.png', style: 'width: 30px; height: 30px; margin-right: 8px;' %>
                Time: <%= appointment.appointment_date.strftime('%I:%M %p') %>
              </div>

              <div class="d-flex align-items-center mb-2">
                <%= image_tag 'Typeapp.png', style: 'width: 30px; height: 30px; margin-right: 8px;' %>
                Type: <%= appointment.appointment_type %>
              </div>
              <div class="d-flex align-items-center mb-2">
                <%= image_tag 'Statusapp.png', style: 'width: 30px; height: 30px; margin-right: 8px;' %>
                Status: <%= appointment.status %>
              </div>
              <div class="d-flex align-items-center mb-2">
                <%= image_tag 'Clinicianapp.png', style: 'width: 30px; height: 30px; margin-right: 8px;' %>
                Clinician: <%= appointment.clinician.title %> <%= appointment.clinician.first_name %> <%= appointment.clinician.last_name %>
              </div>

              <% if current_user.clinician? %>
                <div class="appointment-button-decision">
                  <%= button_to "Close", toggle_status_appointment_path(appointment), method: :post, params: {status: "Closed"} %>
                  <%= button_to "Accept", toggle_status_appointment_path(appointment), method: :post, params: {status: "Accepted"} %>
                </div>
              <% end %>

              <% if appointment.chatroom %>
                <%= link_to 'Chat', appointment_chatroom_path(appointment, appointment.chatroom), class: 'done-button m-2' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
