<div>

<h1>Appointments</h1>
<%= link_to 'New Appointment', new_appointment_path %>
<ul>
  <% @appointments.each do |appointment| %>
    <li>
      <%= link_to appointment_path(appointment) do %>
        <%= appointment.appointment_date %> - <%= appointment.appointment_type %> - <%= appointment.status %>
      <% end %>
    </li>
  <% end %>
</ul>

</div>
<%# NEED TO ENABLE AND DISABLE CERTAIN CONTROLS DEPENDING ON IF IT IS A PATIENT OR A CLINICIAN %>
