<div class= "background-content">

  <div class="d-flex justify-content-around" style="padding-top: 75px;margin-bottom: 10px;">
    <div class="confirmation-icon">
      <%= image_tag 'Tick.png', alt: 'date_icon', class: 'confirmation-icons' %>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class= "confirmation-message">
      <h1>Booking pending </h1>
      <div>
      <p>Your appointment request has been submitted and is awaiting review by the clinician.</p>
      </div>
      <div>
      <p>An email and SMS have been sent to your registered contact details.</p>
      </div>
    </div>
  </div>

  <div class="">
    <div class= "appointment-confirmation-card d-flex">
        <% if current_user.clinician %>
          <p>I'm a clinician</p>
          <p><%= @appointment.appointment_date %></p>
        <% else %>

          <div class="profile2-image">
            <%= image_tag 'marie.jpg' %>
          </div>

          <div class="clinician-info-show">
            <h2>Dr. <%= @clinician.first_name %> <%= @clinician.last_name %></h2>
            <h5>General Practitioner</h5>

           <div class="line"></div>

            <div class="datentime">
              <p><%= @appointment.appointment_date.strftime("%B %d, %Y %I:%M %p") %></p>
            </div>
          </div>

        <% end %>
    <%# </div> %>

      <%# <div class='d-flex justify-content-around' style="
    margin-top: 25px;">
      <div>
        <%= link_to 'Done', root_path, class: 'done-button' %>
      <%# </div> %>
        <%# <% if @appointment.chatroom %>
      <%# <div> %>
        <%# <%= link_to 'Chat', appointment_chatroom_path(@appointment, @appointment.chatroom), class: 'chat-button'  %>
      <%# </div> %>
      <%# <% end %>
    <%# </div> %>
  </div>
</div>
